<!--HEADER-->
  <header class="header epp-ctn epp-ctn--xxl epp-ctn--gtr">
    <div class="epp-cl-5-12 epp-cl-1-3--tb epp-cl-1--ph logo-ctn align-center--ph">
      <a href="/" class="am-logo am-logo--<%= @current_locale %>" title="almundo.com">
        <span class="am-logo__iso"></span>
        <span class="am-logo__typo"></span>
        <span class="am-logo__slogan"><%= I18n.t("slogan") %></span>
      </a>
      <p class="brand-change hidden--tb  hidden--ph"><%= I18n.t("brand_note") %></p>
    </div>
    <div class="epp-cl-7-12 epp-cl-2-3--tb epp-cl-1--ph hidden--ph">
      <div class="header-menu align-right align-right--tb align-right--dt">
        <ul class="secondary-menu hidden--ph">
          <% if @current_has_club %>
            <% if !@is_logged %>
              <li class="secondary-menu__item">
                <a href="<%= @almundo_link %>" class="secondary-menu__item__button login">
                  <span class="secondary-menu__item__button__icon icon-club icon-login"></span>
                  <%= I18n.t("account.login")%>
                </a>
              </li>
            <% else %>
              <li class="secondary-menu__item">
                <a href="<%= @almundo_link %>" class="secondary-menu__item__button login">
                  <% if @client_photo != "" %>
                    <img class="secondary-menu__item__button__icon" src="<%= @client_photo %>" alt="<%= @client_name %>" />
                  <% else %>
                    <span class="secondary-menu__item__button__icon icon-club icon-login hidden--tb"></span>
                  <% end %>

                  <% if @client_name != "" %>
                    <%= @client_name %>
                  <% else %>
                    <%= @client_email %>
                  <% end %>
                </a>
              </li>
            <% end %>

            <li class="secondary-menu__item">
              <a href="/club-almundo" class="secondary-menu__item__button">
                <%= I18n.t("account.club")%>
              </a>
            </li>
          <% end %>
          <% if @current_has_phones %>
          <li class="secondary-menu__item call-us">
            <a href="#" class="secondary-menu__item__button">
              <span class=""><%= I18n.t("phone.callus")%></span>
            </a>
            <div class="phone-tooltip">
              <p><strong><%= I18n.t("phone.number")%></strong></p>
              <% I18n.t("phone.availability").each do | e,i | %>
                <p><%= i.capitalize %></p>
              <% end %>
            </div>
          </li>
           <% end %>
          <% if @current_has_offices %>
            <li class="secondary-menu__item">
              <a href="<%= I18n.t("locationsurl") %>" class="secondary-menu__item__button">
                <span class=""><%= I18n.t("locations")%></span>
              </a>
            </li>
          <% end %>

        </ul>

        <%= partial(:'partials/country-selector') %>

        <%= partial(:'partials/social-xs-buttons') %>

        <% if @current_has_warranty %>
          <a href="/mejor-precio-y-servicio">
            <img class="badge  hidden--ph hidden--tb" src="<%= get_img_path %>/logo-garantia.svg" alt="almundo.com">
          </a>
        <% end %>

      </div>
    </div>
  </header>
  <!--/HEADER-->